.Account {
    display: flex;
  }
  
  .Navbar {
    z-index: 2;
  }
  
  
  .account-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
    margin-top: 200px;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }
  
  label {
    flex: 1;
    margin-right: 8px; /* Adjust the margin between label and input */
  }
  
  input {
    flex: 2;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }