.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 150px;
  }
  
  .date {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px; 
    color:  rgb(98, 133, 170)
  }
  
  .checkbox {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-bottom: 25px; 
  }
  
  .checkbox label {
    font-size: 23px; 
    
  }
  
  .reportButton {
    background-color: rgb(98, 133, 170);
    color: white;
    padding: 20px 50px;
    font-size: 25px;
    font-weight:  bold;
    border: none;
    cursor: pointer;
  }