.Report {
    position: relative;
    margin-top: 150px;
  }
  
  .content {
    margin-top: 100px;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .json-data {
    font-size: 20px;
  }
  
  .property {
    font-weight: bold;
    font-size: 20px;
  }